@charset "UTF-8";
/* 共通ヘッダ、グローバルナビゲーション */
header{
	background-color: white;
	margin-top: 0px;
	margin-bottom: 10px;
	
	border-bottom: solid 5px #0000ff;
	box-shadow:0px 5px 3px #aaaaaa;
	overflow: hidden;
	padding-left: 5px;
	padding-bottom: 5px;

}
#gnavi{
	width:600px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px blue;
}
.gnavi_td{
	background-color: royalblue;
	width: 200px;
	color: white;
	text-align: center;
}
#logo_img{
	width: 50px;
	float: left;
}
#cart_img{
	width: 50px;
	float: right;
}