@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*-------------------header------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #232323;
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  display: flex;
  justify-content: center;
  z-index: 50; /* ヘッダーを前面に表示 */
}

header .header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

/* 検索バー */
header .search {
  display: flex;
  align-items: center;
  padding: 7px 12px;
  background-color: #121212;
  border-radius: 4px;
  width: 700px;
}

/* 検索バー内 */
header input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #121212;
  color: white;
}

/* 検索バー内の文字 */
header input::placeholder {
  color: #79777c;
}

.fa-solid {
  color: white;
}


/*-------------------header------------*/
/*--------------nav------------*/
/* 左メニュー */
.nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 16px 16px 0;
  background: #1c1c1c;
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: 100;
  transition: 0.5s;
}

.nav_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 48px;
  overflow: auto;
  scrollbar-width: none;
}

.nav_container::-webkit-scrollbar {
  display: none;
}

/* 左メニューアイコン */
.nav_logo {
  font-weight: 600;
  margin: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.logo_name {
  display: flex;
}

/* ユーザー管理アイコン */
.gg-profile,
.gg-profile::after,
.gg-profile::before {
  display: block;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 100px;
}
.gg-profile {
  overflow: hidden;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  position: relative;
}
.gg-profile::after,
.gg-profile::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 8px;
  height: 8px;
}
.gg-profile::after {
  border-radius: 200px;
  top: 11px;
  left: 0px;
  width: 18px;
  height: 18px;
}


/* イベント管理アイコン */
.gg-flag-alt {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 14px;
    height: 20px;
    border-left: 2px solid;
  }
  .gg-flag-alt::after,
  .gg-flag-alt::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-bottom: 2px solid;
  }
  .gg-flag-alt::before {
    width: 12px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid transparent;
  }
  .gg-flag-alt::after {
    width: 8px;
    height: 8px;
    border-left: 2px solid;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transform: rotate(45deg);
    top: 1px;
    left: 6px;
  }

.nav_list,
.nav_items {
  display: grid;
}

.nav_link {
  display: flex;
  align-items: center;
  color: #fff;
}

/* 左メニューカーソル時の色 */
.nav_link:hover {
  color: #ee2522;
}

.nav_icon {
  width: 40px;
  font-size: 19px;
}

.nav_name {
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
}

.nav_soroe{
  margin-left: 5px;
}

/* タイムライン画面アイコンの色(常時) */
.active {
  color: #ee2522;
}

/* フィルターボタン(動画/アカウント名)のスタイル */
.filter-button {
  background-color: black;
  color: white;
  border: none;
  padding: 1px 1px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

/* 検索ボックスのスタイル */
#search {
  flex: 1;
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}





/*--------------video_items------------*/
@media screen and (min-width: 768px) {

  /* 上のアイコンと検索バーの間隔 */
  header {
    padding: 0 48px 0 96px;
  }

  /* 上の間隔の大きさ(?) */
  header .header_container {
    height: calc(56px + 8px);
  }
  
  /* 左メニューの上下間隔 */
  .nav .nav_items {
    row-gap: 27px;
  }

  .nav {
    left: 0;
    padding: 19px 24px 0;
    width: 88px;
  }

  .nav:hover {
    width: 265px;
  }

  .nav .nav_subititle,
  .nav .logo_name,
  .nav .nav_dropdown-icon,
  .nav .navtop .nav_link:nth-child(7),
  .nav .subscribe-contain {
    opacity: 0;
    transition: 0.5s;
  }

  .nav:hover .nav_subititle,
  .nav:hover .logo_name,
  .nav:hover .nav_dropdown-icon,
  .nav:hover .navtop .nav_link:nth-child(4),
  .nav:hover .subscribe-contain {
    opacity: 1;
  }
}

@media screen and (max-width: 420px) {



  /* ナビゲーションメニューを左側に固定 */
  .nav {
    left: 0; /* メニューを左に固定 */
    width: 80px; /* 小さい画面に合わせた幅 */
  }

  /* ホバー時にメニューを展開する */
  .nav:hover {
    width: 265px;
  }

  /* モバイルではトグルボタンを非表示にする（必要に応じて） */
  header .toggle {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}

.current-time,
.duration {
  width: 50px; /* 必要に応じて幅を調整してください */
  text-align: center; /* 数字を中央揃え */
  display: inline-block; /* 幅を固定するために inline-block を使用 */
}
