
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

h1{
  color: #fff;
}

dialogButton {
  width: 90px !important;;
  height: 50px !important;;
  color: rgb(255, 255, 255);
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 15px !important;;
  /* フレックスボックスでテキストを中央揃え */
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
}


.search-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.search-box {
  width: 300px;
  padding: 10px;
  border: 1px solid #ffffff;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: 1px solid #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 80px; /* ボタンの幅を固定 */
  text-align: center;
}

.search-button:hover {
  background-color: #000000;
  color: #ee2522;
  border: 1px solid #ee2522;
}



table {
  border: 1px solid #ffffff; /* テーブル全体の外枠 */
  border-radius: 10px; /* テーブルの四隅を丸くする */
  border-collapse: separate; /* セルのボーダーと外枠を分離 */
  border-spacing: 0; /* セル間の余白をゼロに設定 */
  width: 60%;
  margin: 50px auto;
  background-color: #000000;
}


th,
td {
  border: 1px solid #ffffff;
  padding: 10px 15px;
  color: #fff;
}

.delete-button{
  text-align: center;
}

th {
  background-color: #000000;
}

th:first-child {
  border-top-left-radius: 10px; /* 左上角を丸める */
}

th:last-child {
  border-top-right-radius: 10px; /* 右上角を丸める */
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px; /* 左下角を丸める */
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px; /* 右下角を丸める */
}

.dialogButton {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: 1px solid #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px; /* ボタンの幅を固定 */
  text-align: center; /* テキストを中央揃え */
  box-sizing: border-box; /* パディングを含めたサイズ計算 */
}

.dialogButton:hover {
  background-color: #000;
  color: #ee2522;
  border: 1px solid #ee2522;
}



Button {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #000;
  border-radius: 10px;
  cursor: pointer;
  border: solid 1px #fff;
}

Button:hover {
  background-color: #000;
  color: #ee2522;
  border: 1px solid #ee2522;
}

input[type="text"] {
  border: 1px solid white;
  background-color: black;
  color: white;
  caret-color: #ee2522;
}

input[type="text"]:focus {
  border-color: #ee2522;
  background-color: black;
  color: white;
  caret-color: #ee2522;
  outline: 0;
}

dialog {
  text-align: center;
  border-radius: 10px;
  background-color: #000000;
  border: solid 3px #ee2522;
  color: white; 
  z-index: 1000;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px; /* ボタン間の隙間を設定 */
}

#closeConfirmationButton {
  width: 90px;
  display: inline-block;
  padding: 10px;
  margin: auto 30px;
  color: rgb(255, 255, 255);
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

#closeConfirmationButton:hover {
  color: #ee2522;
  border-color: #ee2522;
}

body.dialog-open .user-list {
    pointer-events: none;
}
