body {
    margin: 0;
    padding: 0;
    background-color: #111; /* 背景色を暗めに調整 */
    font-family: "Poppins", sans-serif;
    color: #fff;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    padding: 20px;
    width: 60%;
    margin: 97px auto 0;
}

.section {
    margin-bottom: 40px;
}

.session-content {
    border-radius: 20px;
    color: #fff;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.session-content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent); /* 白いグラデーション */
    opacity: 0.4; /* 帯の強調 */
    animation: glow-border 6s forwards; /* 1回だけアニメーション */
    z-index: -1;
}

@keyframes glow-border {
    0% {
        transform: translateX(-100%); /* 帯が画面の左側に始まる */
    }
    50% {
        transform: translateX(0); /* 帯が真ん中で完全に止まる */
    }
    100% {
        transform: translateX(0); /* 帯が真ん中で止まったまま */
    }
}


.button-group {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
}

.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(145deg, #2a2a2a, #111); /* ダークなグラデーション */
    text-align: center;
    border-radius: 20px;
    border: 2px solid transparent;
    flex: 1;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* スプリング風の動き */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;
}

.link-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, rgb(34, 32, 32), rgb(65, 65, 65));
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 20px;
    z-index: -1;
}

.link-button:hover {
    color: #fff;
    transform: scale(1.05);
    background: linear-gradient(145deg, #111, currentColor); /* 現在の枠線色を使用 */
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.2), 0 0 10px currentColor;
}

.link-button:hover::before {
    opacity: 1;
}

.start {
    border-color: #11dadd;
}

.party {
    border-color: rgb(251, 209, 43);
}

.recording {
    border-color: rgb(249, 45, 208);
    margin-top: 55px;
}

.upload {
    border-color: rgb(53, 219, 86);
    margin-top: 55px;
}
